/**
* Theme: Gloom Prism
*
* Prism theme based on Theme Gloom from Atom (https://github.com/hejrobin/gloom)
* @author Theme Gloom Atom: hejrobin (https://github.com/hejrobin/)
* @author Theme Prism Gloom: Luis Ramirez (https://github.com/luisramirez-m)
*/
/*
* Colors
*/
code[class*="language-"],
pre[class*="language-"] {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: 12px;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #292a44;
  color: #66D9EF; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

pre[class*="language-"] {
  padding: 1em;
  margin: 3em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #292a44; }

:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.scope {
  color: #66D9EF; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6D6DB5;
  font-style: italic; }

.token.punctuation {
  color: #d8d8d8; }

.token.namespace {
  opacity: .7; }

.token.tag,
.token.operator,
.token.number {
  color: #7AA5FF; }

.token.property {
  color: #FF6F9F; }

.token.function {
  color: #2DE0A7; }

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #FF6F9F; }

code.language-javascript,
.token.attr-name {
  color: #F92672; }

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #6DFEDF; }

.token.placeholder,
.token.variable {
  color: #FF6F9F; }

.token.deleted {
  text-decoration: line-through; }

.token.inserted {
  border-bottom: 1px dotted #eeebff;
  text-decoration: none; }

.token.italic {
  font-style: italic; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.important {
  color: #c4b9fe; }

.token.entity {
  cursor: help; }

.token.number {
  color: #FFDB7D; }

/*
* Lenguage markup
*/
.language-markup {
  color: #fff !important; }

/*
* Lenguage HTML
*/
.language-html .token .tag {
  color: #FF6F9F; }

/*
* Lenguage PHP
*/
.language-php {
  color: #6DFEDF !important; }
  .language-php .package {
    color: #c4b9fe !important; }
  .language-php .token .keyword {
    color: #F92672 !important; }
  .language-php .token .tag {
    color: #6DFEDF !important; }
    .language-php .token .tag .tag-id {
      color: #6DFEDF !important; }
    .language-php .token .tag .punctuation {
      color: #6DFEDF !important; }

/*
* Lenguage CSS
*/
.language-css .token.atrule-id {
  color: #7AA5FF !important; }

.language-css .token.pseudo-class {
  color: #F92672; }

.language-css .token.property {
  color: #66D9EF !important; }

.language-js .token.keyword {
  color: #F92672; }

.language-js .token.variable {
  color: #FF6F9F; }

/*
* Lenguage Bash
*/
.language-bash {
  color: #fff !important; }
  .language-bash .token.operator, .language-bash .token.string, .language-bash .token.function, .language-bash .token.keyword, .language-bash .token.variable {
    color: #fff !important; }

/*
* Lenguage Python
*/
.language-python {
  color: #fff !important; }
  .language-python .token.keyword {
    color: #F92672 !important; }
